:root {
    --main-bg: #780116;
    /* #780116; */
    --btn: #F7B538;
    --text: #fff;
    --secondary-bg: #DB7C26;
    /*I colori seguenti non sono usati */
    --flame: #D8572A;
    --fire-engine-red: #C32F27;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html {
    font-size: 17px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secondary-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    width: 500px;
    height: 600px;
    background-color: var(--main-bg);
    color: var(--text);
    border-radius: 10px;
    padding: 30px 15px;
}

form {
    /* height: 80%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    margin: 0 0 15px 0;
}

form > div {
    padding: 10px 5px;
}

.strategy > div, .carbs-input > div, .input-workout > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-workout div:first-of-type {
    margin-bottom: 10px;
}

h2 {
    padding: 5px 0 10px 0;
} 

/* da eliminare */

/* div, h1, label {
    border: 1px solid black;
} */

/*  */

div {
    width: 100%;
    margin: 0 auto;
}

#result-message {
    /* height: 20%; */
    width: 100%;
    display: none;
}

h1, h2 {
    text-align: center;
}


label {
    width: 100%;
    margin: 0 auto;  
}

input {
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    font-size: 1rem;
    
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    background-color: var(--btn);
    padding: 10px;
    border-color: var(--btn);
    font-size: 1.1rem;
    border-radius: 5px;
    appearance: none;

 
}

button:hover {
    background-color: #ed9e0d;
}

button:active {
    background-color: var(--btn);
}

button:focus {
    outline: none;
}

.title {
    padding: 0 5px;
}

.note {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5px;
}

#result {
    text-align: center;
}



