:root {
    --main-bg: hsla(349, 98%, 24%, 0.80);
    --btn: #F7B538;
    --text: #fff;
    --secondary-bg: #fff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html {
    font-size: 17px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secondary-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    width: 500px;
    height: 600px;
    background-color: var(--main-bg);
    color: var(--text);
    border-radius: 10px;
    padding: 30px 15px;
    margin: 10px;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

div {
    width: 100%;
    margin: 0 auto;
}


form > div {
    padding: 10px 5px;
}

.title {
    padding: 0 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.strategy > div, .carbs-input > div, .input-workout > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

h2 {
    padding: 5px 0 10px 0;
} 

label {
    width: 100%;
    margin: 0 auto;  
}

input {
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

p {
    text-align: center;
    margin-bottom: 15px;  
}

.note {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5px;
}


.input-workout fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 5px;
    text-align: center;
}

fieldset  input {
    width: 45%
}

fieldset legend {
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    cursor: pointer;
    background-color: var(--btn);
    padding: 10px;
    border-color: var(--btn);
    font-size: 1.1rem;
    border-radius: 5px;
    appearance: none;
}

button:hover {
    background-color: #ed9e0d;
}

button:active {
    background-color: var(--btn);
}

button:focus {
    outline: none;
}

#reset-btn {
    display: none;
}

#result-message {
    width: 100%;
    display: none;
}

#result {
 font-weight: bold;
}

#total-time-workout, #total-carbohidrates {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
  
}
